html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}

p {
  position: absolute;
  top: 1%;
  left: 10%;
  color: white;
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

canvas {
  display: block;
  margin: auto;
}
